<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <title>Home</title>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar">
    </nav>

    <div class="container-fluid">
        <h2>Welcome!</h2>
        <div class="row">
            <div class="col-mid-6">
                <div class="card">
                    <div class="card-header">
                        Tambah Pilot
                    </div>
                    <div class="card-body">
                        <p class="card-text">FItur untuk menambahkan pilot</p>
                        <a class="btn btn-primary" th:href="@{/pilot/add}">Tambah</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-mid-6">
                <div class="card">
                    <div class="card-header">
                        Cari Pilot
                    </div>
                    <form th:action="@{/pilot/view}" method="get">
                        <div class="card-body">
                            <label for="licenseNumber">Lincense Number :</label>
                            <input type="text" name="licenseNumber" class="form-control"/>
                            <p></p>
                            <button type="submit" class="btn btn-primary">Cari</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>



</body>
</html>