<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <title>Home</title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar">
</nav>

<div class="container-fluid">
    <h2>Welcome!</h2>
    <div class="row">
        <div class="col-mid-6">
            <div class="card">
                <div class="card-header">
                    Pilot detail
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td>
                                Pilot License Number
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <span th:text="${pilot.licenseNumber}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <span th:text="${pilot.name}"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Fly Hour
                            </td>
                            <td>
                                :
                            </td>
                            <td>
                                <span th:text="${pilot.flyHour}"></span>
                            </td>

                        </tr>

                    </table>
                    <br>

                    <h3 th:if="${pilot.flyHour} >= 100 ">Status : Pilot Senior</h3>
                    <h3 th:unless="${pilot.flyHour} >= 100 ">Status : Pilot Junior</h3>

                    <table>
                        <tr>
                            <th>
                                <a th:href="@{/flight/add/{licenseNumber}(licenseNumber=${pilot.licenseNumber})}">Add flight</a>
                            </th>
                            <th>
                                <a th:href="@{/pilot/edit/{id}(id=${pilot.id})}">Edit pilot</a>
                            </th>
                            <th>
                                <a th:href="@{/pilot/delete/{id}(id=${pilot.id})}">Delete pilot</a>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-mid-6">
            <div class="card">
                <div class="card-header">
                    Flight List
                </div>
                <table border="1">
                    <tr>
                        <th></th>
                        <th>Flight Number</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                    <tr th:each="flight, iStatus : ${flights}">
                        <td th:text="${iStatus.count}">1</td>
                        <td th:text="${flight.flightNumber}">1</td>
                        <td th:text="${flight.origin}">1</td>
                        <td th:text="${flight.destination}">1</td>
                        <td th:text="${flight.time}">1</td>
                        <td>
                            <a th:href="@{/flight/edit/{id}(id=${flight.id})}">Edit</a>
                            <br>
                            <a th:href="@{/flight/delete/{id}(id=${flight.id})}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>



</body>
</html>